<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068587497416-be18u6imj9er1rn7phd8gmgpib4ssn1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068587497416-be18u6imj9er1rn7phd8gmgpib4ssn1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCjqE90wTJKKFW9jRzSzPi-GNmWdxR7NBc</string>
	<key>GCM_SENDER_ID</key>
	<string>1068587497416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codershigh.boostcamp.Doesaegim</string>
	<key>PROJECT_ID</key>
	<string>doesaegim-836e4</string>
	<key>STORAGE_BUCKET</key>
	<string>doesaegim-836e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068587497416:ios:a0cbae8a9c58311e69b2fd</string>
</dict>
</plist>